{% extends "base.html" %}

<!-- Page d'affichage de l'information d'une installation selon son nom -->
{% block content %}
    <h1>Bienvenue</h1>
    <form id="recherche" class="navbar-right" action="{{ url_for('main.noms_installations') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.nom_installation.label }}
        {{ form.nom_installation }}
        {{ form.submit }}
    </form>
    
    {% if nom_installation %}
        <h2>Information sur {{ nom_installation }}</h2>
        <div id="installation"></div>
        <hr>
    {% endif %}

    <script>
        var nom_installation = '{{ nom_installation }}'
    </script>
    <script src="/js/nom_installations.js"></script>
{% endblock content %}