{% extends "base.html" %}

<!-- Page d'affichage du tableau des installations selon un arrondissement -->
{% block content %}
    <h1>Tableau d'installations selon un arrondissement</h1>
    <form id="recherche" class="form-group" action="{{ url_for('main.index') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.arrondissement.label }}
        {{ form.arrondissement }}
        {{ form.submit }}
    </form>

    <h2>Glissades</h2>
    <div id="glissades"></div>
    <hr>

    <h2>Patinoires</h2>
    <div id="patinoires"></div>
    <hr>

    <h2>Piscines</h2>
    <div id="piscines"></div>
    <hr>

    <script>
        var arr = '{{ arrondissement }}'
    </script>
    <script src="/js/arrondissement.js"></script>

{% endblock content %}